* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.App {
  padding-bottom: 2rem;
}

.title {
  margin: 2rem 0;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: lightblue;
  font-size: 1.5rem;
}

.nav-items {
  position: relative;
}

.nav-items-count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: white;
  padding: 0.25rem;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

.cart-container {
  max-width: 900px;
  width: 80%;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

.cart-items {
  margin-bottom: 1rem;
  border-bottom: 2px solid purple;
}

.list-item {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-around;
}

.list-item .list-item__image-container img {
  object-fit: contain;
  width: 6rem;
}

.list-item .list-item__details {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  flex-basis: 60%;
}

.list-item__details .remove {
  color: thistle;
  cursor: pointer;
}

.list-item .list-item__count {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.list-item .list-item__count .increase,
.list-item .list-item__count .decrease {
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cart-clear {
  text-align: center;
}

.cart-clear .cart-clear__button {
  border: 1px solid red;
  border-radius: 0.25rem;
  padding: 0.50rem 1.5rem;
  background: white;
  letter-spacing: 0.125rem;
  cursor: pointer;
}
